#product {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 12px));
    grid-template-rows: auto;
    grid-row-gap: 32px;
    grid-column-gap: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 768px) {
    #product {
        grid-template-columns: repeat(4, calc(25% - 18px));
    }
}

.content p {
    word-break: break-word;
}

@media (max-width: 500px) {
    .card button {
        display: none;
    }
}

@media (min-width: 500px) {
    .card button {
        border: none;
        outline: none;
        background: rgba(39, 39, 39, 0.979);
        color: white;
        width: 100%;
        height: 40px;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 15px 0;
        border-radius: 5px;
    }
}

@media (max-width: 850px) {
    .card {
        border: 1px solid #eee;
        overflow: hidden;
        padding: 10px;
        box-shadow: 2px 8px 20px #ddd;
        margin: 10px 0;
        transition: 0.5 linear;
    }
}

@media (min-width: 850px) {
    .card {
        border: 1px solid #eee;
        overflow: hidden;
        padding: 10px;
        box-shadow: 2px 8px 20px #ddd;
        margin: 10px;
        transition: 0.5 linear;
    }
}

.card:hover {
    box-shadow: none;
}

.card img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: block;
    object-fit: cover;
}

.card h3 {
    text-transform: uppercase;
    margin: 10px 0;
}

.card h3 a {
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
}

.card h3 a:hover {
    color: crimson;
}

.card p {
    margin: 10px 0;
    max-width: 300px;
}

.card span {
    color: green;
}

.onTop > button {
    padding: .7rem 2rem;
    margin: 1rem;
    border-radius: 2.3rem;
    position: fixed;
    bottom: -5rem;
    right: 1rem;
    transition: 0.5s all ease-in-out;
    background: rgba(0, 0, 0, 0.952);
    opacity: 0.9; 
    color: white;
    border: none;
    z-index: 100;
}

.onTop > button.show {
    bottom: 1rem;
}